<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/header.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/show.css" type="text/css" />
    <title>Exploration Point</title>
  </head>

  <body>
    <!-- Navbar Code Start -->
    <nav class="navbar navbar-expand-xl bg-dark navbar-dark">
      <button
        class="navbar-toggler collapsed"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">Exploration Point</a>
      <div
        class="collapse navbar-collapse justify-content-end"
        id="collapsibleNavbar"
      >
        <ul class="navbar-nav">
          <form class="form-inline search apex" action="#">
            <input
              class="form-control mr-sm-2"
              type="text"
              placeholder="Search"
              autocomplete="off"
            />
          </form>
          <% if(!currentUser) { %>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Sign Up</a>
          </li>
          <% } else { %>
          <li class="nav-item user-nav">
            <a class="nav-link" href="#"
              >Signed in as <%= currentUser.username %></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/touristspots">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          <% } %>
        </ul>
      </div>
    </nav>

    <div class="container">
      <% if(errorFlash && errorFlash.length > 0) { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= errorFlash %>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% } else if(successFlash && successFlash.length > 0) { %>

      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= successFlash %>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% } %>
    </div>

    <!-- Navbar Code End -->
    <!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
  </body>
</html>
