<%- include("./partials/header.ejs") %>
<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Welcome to Exploration Point!</h1>
      <p>
        View the handpicked locations from the posts of our various users and
        see whose explorations matches with yours.
      </p>
      <p>
        <a class="btn btn-lg btn-primary" href="touristspots"
          >View Exploration Points</a
        >
      </p>
    </div>
  </header>
</div>
<%- include("./partials/footer.ejs") %>
