<%- include("./partials/header.ejs") %>

<!-- <div class="conatiner" style="margin: 20px;">
  <div class="row">
    <h1 style="text-align: center !important;">
      Create a new Tourist Location
    </h1>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <h1 style="text-align: center;">Create a new Tourist Location</h1>

    <div class="row" style="width: 35%; margin: 25px auto;">
      <form action="/touristspots" method="POST">
        <div class="form-group">
          <label for="name">EnterName: </label>
          <input class="form-control" type="text" name="name" />
        </div>
        <div class="form-group">
          <label for="imageURL">Enter Image URL:</label>
          <input class="form-control" type="text" name="imageURL" />
        </div>
        <div class="form-group">
          <button class="btn-lg btn-primary btn-block">Submit</button>
        </div>
      </form>
      <a class="btn btn-warning" href="/touristspots">Go Back</a>
    </div>
  </div>
</div>

<%- include("./partials/footer.ejs") %>
