<%- include("./partials/header") %>

<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-12 col-md-6">
      <h1 style="text-align: center;">Create a new Tourist Location</h1>

      <form action="/touristspots" method="POST">
        <div class="form-group">
          <label for="name">EnterName: </label>
          <input
            class="form-control"
            type="text"
            name="name"
            autocomplete="off"
          />
        </div>
        <div class="form-group">
          <label for="imageURL">Enter Image URL:</label>
          <input
            class="form-control"
            type="text"
            name="imageURL"
            autocomplete="off"
          />
        </div>
        <div class="form-group">
          <label for="description">Enter Description:</label>
          <input
            class="form-control"
            type="text"
            name="description"
            autocomplete="off"
            style="height: 95px;"
          />
        </div>
        <div class="form-group">
          <button class="btn-lg btn-primary btn-block">Submit</button>
        </div>
      </form>

      <div
        class="row justify-content-center align-items-center"
        style="margin: 12px auto;"
      >
        <a class="btn btn-warning" href="/touristspots">Go Back</a>
      </div>
    </div>
  </div>
</div>

<%- include("./partials/footer") %>
