<%- include("./partials/header.ejs") %>
<div class="container">
  <header class="jumbotron">
    <div class="container" style="justify-content: center;text-align: center;">
      <h1>Welcome to Exploration Point!</h1>
      <p>
        View the handpicked locations from the posts of our various users and
        see whose explorations matches with yours.
      </p>
      <p>
        <a class="btn btn-lg btn-success" href="/touristspots" style="position: relative; left: -2%;"
          >Go to Exploration Points</a
        >
      </p>
      </div>
    </div>
  </header>
  <div>
    <h1 style="text-align: center;color: red;margin-bottom: 23.5%;">This path is not defined!!</h1>
</div>
<%- include("./partials/footer.ejs") %>
