* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(233, 246, 252);
}

.jumbotron {
  background-color: rgb(233, 246, 252);
}

.navbar-brand {
  position: relative;
  height: 7vh !important;
  font-size: 30px !important;
}

.nav-item {
  font-size: 1.3rem;
  padding: 0rem 0.7rem;
}

.navbar > .navbar-brand {
  position: relative;
  top: 2.5px;
  font-size: 1.7rem;
  font-weight: 500;
  color: rgba(255, 123, 0, 0.945) !important;
}

.navbar-nav li a {
  color: orange !important;
  font-size: 22px;
}

.user-nav {
  font-style: italic;
  font-weight: bolder;
  background: -webkit-linear-gradient(45deg, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.apex > .form-control {
  background-color: dimgray;
  border: none;
  width: 9.2rem !important;
  transition: width 0.4s ease-in-out;
}

.apex > input::placeholder {
  font-size: 1.2rem !important;
  color: orange !important;
}

.apex > .form-control:focus {
  background-color: rgb(252, 243, 229);
  width: 15.6rem !important;
}

.alert-danger {
  background-color: rgb(247, 147, 129);
}

.alert-success {
  background-color: rgb(180, 223, 94);
}

.btn-danger {
  background-color: rgb(250, 66, 66);
}

/* .btn-warning {
  background-color: rgb(255, 175, 70);
} */

@media screen and (max-width: 992px) {
  .navbar-nav {
    margin-top: 25px;
  }

  .navbar-brand {
    font-size: 25px !important;
  }
}

@media screen and (min-width: 768px) {
  .index-card {
    width: 340px !important;
  }
}
