.jumbotron {
  margin-top: -20px;
}

.index-h3 {
  text-align: center;
  font-size: 38px;
  margin-top: -20px;
  margin-bottom: 30px;
}

.card-populate {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.index-card {
  height: 375px;
  width: 340px !important;
  margin: 10px;
  background-color: #f7f7f7;
}

.index-card .card-img-top {
  height: 58.5%;
  object-fit: cover;
}

.index-card .card-text {
  color: dodgerblue;
  font-size: 16.6px;
  font-weight: bold;
  font-style: italic;
  margin-top: -10px;
}

.index-card .card-body a {
  position: absolute;
  width: 85%;
  bottom: 15px;
}

.ghost-card-one {
  visibility: hidden;
}

.ghost-card-two {
  visibility: hidden;
}

.ghost-card-three {
  visibility: hidden;
}

.ghost-card-four {
  display: none;
  visibility: hidden;
}

.fuzzy-search {
  margin: 1px 30px 350px 30px;
}

.fuzzy-search h3 {
  color: rgb(247, 78, 48);
}

.check-query {
  display: flex;
  justify-content: space-around;
  margin: 20px auto 40px auto;
}

@media screen and (max-width: 1199px) {
  .ghost-card-one {
    display: none;
  }

  .ghost-card-two {
    display: none;
  }

  .ghost-card-three {
    display: none;
  }

  .ghost-card-four {
    display: inline;
  }
}

@media screen and (max-width: 768px) {
  .card-populate {
    justify-content: space-around;
    width: initial;
  }

  .index-card {
    width: 82.5%;
  }

  .ghost-card-one {
    display: none;
  }

  .ghost-card-two {
    display: none;
  }

  .ghost-card-three {
    display: none;
  }

  .ghost-card-four {
    display: none;
  }
}
