.anchor-buttons > a {
  margin-top: 10px;
}

img {
  object-fit: cover;
}

.city-name {
  color: dodgerblue;
  font-size: 19.6px;
  font-weight: bold;
  font-style: italic;
}

.sub-by-name {
  color: green;
  font-size: 16.6px;
  font-weight: bold;
  font-style: italic;
  margin-top: -10px;
}

.sub-date {
  color: rgb(82, 52, 219);
  font-size: 15.4px;
  font-weight: bold;
  font-style: normal;
  margin-top: -17.5px !important;
}

.main-card {
  background-color: #d7e5f8;
  border: none;
}

.review-card {
  margin-top: 2em;
  background-color: #daebff;
  border: none;
  /* background-color: #e5cfe9; */
}

.review-card > .card-body > a {
  width: 205px;
  font-size: 18px;
  font-weight: bold;
}

.expo-auth-name {
  background-color: rgb(17, 143, 182);
  border-radius: 13.5px;
  padding: 4px 27.5px;
  color: whitesmoke;
}

.auth-name {
  color: #cc5500;
  margin-left: 5px;
  font-size: 18px;
}

.cm-text {
  margin-left: 8px;
  font-size: 20px;
}

.lead {
  font-size: 1.8em;
}

.list-group > .list-group-item {
  cursor: pointer;
}

.right-side {
  position: relative;
  top: 1.8px;
  color: #cc5500;
}

.edit-btn {
  width: 105px;
  height: 30px;
  font-size: 18px;
  font-weight: 500;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: -5px; */
  /* display: none;
  transition: all 0.5s ease-in; */
}

.del-btn {
  width: 105px;
  height: 30px;
  font-size: 17.5px;
  font-weight: 500;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: -5px; */
  margin-left: 7.5px;
}

.desc-section {
  margin-top: 25px;
}

.cm-edit-btn {
  width: 60px;
  height: 20px;
  font-size: 14px;
  font-weight: 500;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5px;
  margin-right: 3px;
}

.cm-del-btn {
  width: 60px;
  height: 20px;
  font-size: 14px;
  font-weight: 500;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5px;
  margin-right: 3px;
}

.three-dots-main {
  display: none;
}

.three-dots {
  margin-top: -2.5px;
  transform: scale(1.1);
  padding: 6px 6px;
  display: none;
}

.three-dots:focus {
  display: inline;
}

.cm-div:hover .three-dots {
  display: inline;
}

.cm-div:last-child {
  margin-bottom: 35px;
}

.dropdown-menu {
  background-color: #92c3fa;
  min-width: 1rem;
  height: 75px;
  left: -60 !important;
}

.dropdown-item {
  background-color: #92c3fa;
  width: 80px;
  padding: 4px 4px;
}

.dropdown-menu form button {
  /* background-color: #daebff; */
  width: 70px;
}

.dropdown-menu form:hover {
  background-color: #daebff;
}

/* .fa {
  background-color: #daebff;
  border: none;
} */

/* .cm-div:hover .cm-edit-btn {
  transition: all 0.5s ease-in;
  transform: translateX(80px);
  display: flex;
}

.cm-div:hover .cm-del-btn {
  transition: all 0.5s ease-in;
  transform: translateX(80px);
  display: flex;
} */

/* .cm-div:hover .span-text {
  transition: all 0.4s ease-in;
  transform: translateY(20px);
} */

.span-text {
  font-weight: 500;
  margin-right: 8px;
}

/* .main-card:hover .edit-btn {
  transition: all 0.5s ease-in;
  display: flex;
} */

@media screen and (max-width: 411px) {
  .edit-btn {
    margin-right: -72.5px;
    margin-top: 3.5px;
    width: 65px;
    height: 24px;
  }

  .del-btn {
    margin-top: 34.5px;
    width: 65px;
    height: 24px;
  }

  .cm-edit-btn {
    transform: translateX(0px);
  }

  .cm-del-btn {
    transform: translateX(0px);
  }

  .card-title .city-name {
    white-space: pre;
    /* display: block; */
  }

  .dropdown-menu {
    left: -30 !important;
  }

  .expo-res {
    display: none;
  }

  .three-dots-main {
    display: inline;
  }
  /* .cm-div:hover .span-text {
    display: none;
  } */
}
