.anchor-buttons > a {
  margin-top: 10px;
}

img {
  object-fit: cover;
}

.city-name {
  color: dodgerblue;
  font-size: 19.6px;
  font-weight: bold;
  font-style: italic;
}

.sub-by-name {
  color: green;
  font-size: 16.6px;
  font-weight: bold;
  font-style: italic;
  margin-top: -10px;
}

.main-card {
  background-color: #d7e5f8;
  border: none;
}

.review-card {
  margin-top: 2em;
  background-color: #daebff;
  border: none;
  /* background-color: #e5cfe9; */
}

.review-card > .card-body > a {
  width: 205px;
  font-size: 18px;
  font-weight: bold;
}

.auth-name {
  color: #cc5500;
  font-size: 18px;
}

.lead {
  font-size: 1.8em;
}

.list-group > .list-group-item {
  cursor: pointer;
}

.right-side {
  position: relative;
  top: 1.8px;
  color: #cc5500;
}

.edit-btn {
  width: 105px;
  height: 30px;
  font-size: 18px;
  font-weight: 500;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: -5px; */
  /* display: none;
  transition: all 0.5s ease-in; */
}

.del-btn {
  width: 105px;
  height: 30px;
  font-size: 17.5px;
  font-weight: 500;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: -5px; */
  margin-left: 7.5px;
}

.desc-section {
  margin-top: 25px;
}

.cm-edit-btn {
  width: 60px;
  height: 20px;
  font-size: 14px;
  font-weight: 500;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5px;
  margin-right: 3px;
  display: none;
}

.cm-del-btn {
  width: 60px;
  height: 20px;
  font-size: 14px;
  font-weight: 500;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5px;
  margin-right: 3px;
  display: none;
}

.cm-div:hover .cm-edit-btn {
  transition: all 0.5s ease-in;
  /* transform: translateX(80px); */
  display: flex;
}

.cm-div:hover .cm-del-btn {
  transition: all 0.5s ease-in;
  /* transform: translateX(80px); */
  display: flex;
}

/* .cm-div:hover .span-text {
  transition: all 0.4s ease-in;
  transform: translateY(20px);
} */

.span-text {
  font-weight: 500;
}

/* .main-card:hover .edit-btn {
  transition: all 0.5s ease-in;
  display: flex;
} */

@media screen and (max-width: 411px) {
  .edit-btn {
    margin-right: -72.5px;
    margin-top: 3.5px;
    width: 65px;
    height: 24px;
  }

  .del-btn {
    margin-top: 34.5px;
    width: 65px;
    height: 24px;
  }

  .cm-edit-btn {
    transform: translateX(0px);
  }

  .cm-del-btn {
    transform: translateX(0px);
  }

  .cm-div:hover .span-text {
    display: none;
  }
}
